p {
    color: #aa4141;          /* 文字颜色 */
    font-size: 20px;      /* 字号 */
    font-weight: bold;    /* 加粗 */
    line-height: 1.8;     /* 行高 */
    text-align: center;   /* 居中 */
    }

div {
    width: 500px;
    padding: 20px;      /* 内部留白 */
    margin: 10px auto;  /* 外部间距，auto可实现水平居中 */
    border: 1px solid #ccc; /* 灰色实线边框 */
    }